* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
#navbar1 {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}
#navbar1 span {
  font-size: 2.1rem;
  font-weight: 600;
  align-self: center;
}
#navbar1 input {
  height: 55%;
  width: 40%;
  border: 1.5px solid black;
  outline: none;
  border-radius: 10px;
  align-self: center;
  padding-left: 15px;
}
#navbar1 input::placeholder {
  font-size: 15px;
}
#navbar1 a {
  height: 60%;
  align-self: center;
}
#navbar1 a button {
  height: 90%;
  width: 110px;
  background-color: #6bccd3;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  align-self: center;
}
/* Login photo */
#login_photo {
  height: 100%;
  aspect-ratio: 1.2/1;
  border: 2px solid black;
  border-radius: 50%;
}
#navbar2 {
  height: 50px;
  width: 100%;
  background-color: #6bccd3;
}
#navbar2 ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
#navbar2 ul li,
a {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
}
#main {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#main > div {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main div span {
  height: fit-content;
  width: fit-content;
  font-size: clamp(30px, 3.5vw, 3.6vw);
  font-weight: 600;
}
#main div button {
  height: 40px;
  width: 80%;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: clamp(0.6rem, 1.1rem, 1.1rem);
  margin-top: 10px;
  background-color: #6bccd3;
}

#main p {
  height: 100%;
  width: 60%;
}
#main p img {
  height: 100%;
  width: 100%;
}
.main_hr {
  width: 20%;
  margin: 0 auto;
  height: 3px;
  background-color: #6bccd3;
  border: none;
  border-radius: 8px;
}
#quote {
  height: 50px;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-size: clamp(0.1rem, 1rem, 1.2rem);
  font-weight: 600;
}
#short_paragraph {
  height: 80px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: clamp(0.3rem, 1rem, 1.1rem);
  font-weight: 500;
}

/* 4 Blocks */
#blocks {
  height: 300px;
  width: 100%;
  margin-top: 55px;
}
/* @media (width<=800px) {
  #blocks {
    margin-top: 100px;
  }
} */
#blocks ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 2rem;
}
#blocks ul li {
  height: 90px;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #6bccd3;
}
#blocks ul li:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
#blocks ul li a {
  font-size: 2rem;
  color: #ffffff;
}
#blocks ul li a i {
  height: 2rem;
  width: 50px;
  padding-right: 20px;
}

#checkup_date {
  height: 60px;
  width: 96%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1.5px solid black;
  border-radius: 15px;
}
#checkup_date p {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 1.5em;
}
.checkup_hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  height: 3px;
  background-color: #6bccd3;
  border: none;
  border-radius: 8px;
}

/* Let's Connect */
#lets_connect {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Contact Us */
#contact_us {
  height: 200px;
  width: 96%;
  /* border: 2px solid black; */
  border-radius: 35px;
  margin: 20px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
#contact_us div {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 35px;
}
#contact_us div input {
  height: 35px;
  width: 47%;
  border-radius: 6px;
  background-color: #eee;
  border: none;
  outline: none;
  padding-left: 15px;
}
#contact_us div input::placeholder {
  font-weight: 500;
}
#contact_us button {
  height: 40px;
  width: 25%;
  border: none;
  border-radius: 8px;
  background-color: #6bccd3;
  color: #ffffff;
  align-self: center;
  margin-top: 25px;
}

/* footer */
#footer {
  height: 250px;
  width: 100%;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #6bccd3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 0;
}
#footer p {
  height: 50%;
  width: 85%;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#footer .icons {
  height: fit-content;
  width: 40%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
#footer .icons a i {
  font-size: 1.5rem;
}
#footer .icons a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
#footer .designed_by {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 0.8rem;
}
